.banner {
  background-color: #e8e6e6;
  min-height: 100px;
  max-height: 100px;
  display: flex;
  margin: 50px auto;
  max-width: 1400px;
  min-width: 480px;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  z-index: -1;
}

.banner__image {
  height: 250%;
  padding: 0 3% 0 0;
  overflow: visible;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.banner__text {
  display: block;
  text-align: center;
  margin: auto auto auto 10%;
  /*text-transform: uppercase;*/
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}