.first-block {
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.first-block__image {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0 40px 0 0;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

.first-block__image:nth-child(3) {
  margin: 0;
}

.first-block__image:nth-child(2) {
  max-width: 600px;
  max-height: 400px;
}

figure.first-block__image * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.first-block__image img {
  max-width: 100%;
  vertical-align: top;
}
figure.first-block__image figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.first-block__image h2,
figure.first-block__image h4 {
  margin: 0;
}
figure.first-block__image h2 {
  font-weight: 600;
}
figure.first-block__image h4 {
  font-weight: 400;
  text-transform: uppercase;
}
figure.first-block__image i {
  font-size: 32px;
}
figure.first-block__image:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.first-block__image a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.first-block__image:hover figcaption,
figure.first-block__image.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.first-block__image:hover:after,
figure.first-block__image.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}