.footer {
  padding: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 500px;
  height: auto;
  min-height: 350px;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  color: #fff;
}

.footer__author {
  margin: 18px 0;
  padding-top: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer__column_content_copyright {
  flex-basis: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  }

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__column {
  display: flex;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__column-links {
  text-decoration: none;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  transition: opacity .5s linear;
  justify-items: start;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__column-links:hover {
  opacity: .5;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position:relative;
  width: 100%;
}

.footer__links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: -3%;
}
