.gallery {
	position: relative;
  width: 100%;
  min-width: 500px;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
  color: #555;
  z-index: 0;
  margin: 0 auto;
}

.clear-fix {
	clear: both;
}

.masonry-container {
	width: 70vw;
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
}

.panel {
	position: relative;
	display: inline-block;
	width: calc((70vw - 60px)/3);
	height: calc((70vw - 60px)/3);
	margin-left: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: all 0.2s ease-out;
	border-radius: 4px;
}

.panel:hover {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.55);
	transition: all 0.2s ease-out;
}

.panel:nth-child(11n+1) {
	margin-left: 0;
}

.panel:nth-child(11n+4) {
	margin-left: 0;
	width: calc(((70vw - 20px)/3)*2);
	height: calc((70vw - 60px)/3);
}

.panel:nth-child(11n+6) {
	margin-left: 0;
	float: left;
	width: calc((70vw - 60px)/3);
	height: calc(((70vw - 20px)/3)*2 - 8px);
}

.panel:nth-child(11n+6) > .panel-wrapper > .panel-img {
	transform: translateX(-25%);
}

.panel:nth-child(11n+7) {
	margin-left: 27px;
	width: calc(((70vw - 20px)/3)*2);
}

.panel:nth-child(11n+8) {
	margin-left: 27px;
}

.panel:nth-child(11n+9) {
	float: none;
}

.panel:nth-child(11n+10) {
	margin-left: 0;
	width: calc((70vw - 30px)/2);
}

.panel:nth-child(11n+11) {
	width: calc((70vw - 30px)/2);
}


.panel-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
	border-radius: 4px;
}

.panel-img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	min-width: 100%;
	height: 100%;
}
