.title__container {
  width: 100%;
  min-height: 70px;
  background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  display: flex;
  position: relative;
}

.container {
  width: 80%;
  display:flex;
  justify-content:space-between;
  margin: auto;
  border-radius: 10px;
}

.main-title__container {
  width: 50%;
  position: relative;
  display:flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  }

.main-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  color: white;
  padding: 20px 0;
}

.main__button {
  margin: auto 0;
  height: 50%;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #f8f8f8 0%, #FFFFFF  51%, #f8f8f8  100%);
  color:#DD2476;
  border-radius: 10px;
  display: block;
  width: 350px;
  font-weight: 500;
}

 .main__button:hover {
   background-position: right center; /* change the direction of the change here */
   color:#DD2476;
   text-decoration: none;
 }




/* Large desktops and laptops */
@media (max-width: 1300px) {
  .main-title {
    font-size: 20px;
}
}

/* Landscape tablets and medium desktops */
@media (max-width: 1024px) {

}

/* Portrait tablets and small desktops */
@media (max-width: 900px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 780px) {
  .title__container {
    width: 100%;
    min-height: 100px;
  }

  .main__button {
    width: 150px;
    padding: 10px 5px;
  }

  .main-title {
    font-size: 16px;
}


}