.first-block {
  width: 100%;
  min-width: 500px;
  min-height: 330px;
  background-color: #f8f8f8;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(63, 0, 0, 0.2);
  border-radius: 4px;
}

.first-block__wrapper {
  width: 50%;
  display:flex;
  padding: 25px;
  justify-content:space-between;
}

.first-block__title_wrapper {
  width: 100%;
  min-height: 75%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.first-block__title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  color: #2A2C2F;
}

.first-block__text {
  margin: 40px 0;
  font-size: 20px/1.2em;
  font-weight: 400;
  line-height: 1.2;
}

.first-block__image {
  min-height: 100%;
  width: 50%;
  background-image: url(../images/header-photo-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 4px 4px 0;
  animation-name: scale;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezer(1, .01, 0, 1.01);
  transform-origin: 50% 50%;
}

.ezhiki {
  max-width: 100%;
  min-width: 500px;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: white;
  padding: 30px 0;
}

.ezhiki__image {
  display: block;
  max-width: 100%;
  min-width: 500px;
  background-color: white;
  height: auto;
}

.ezhiki__image-mobile {
  display: none;
  max-width: 100%;
  min-width: 500px;
  background-color: white;
  height: auto;
}

@media (max-width: 900px) {
  .ezhiki__image-mobile {
    display:block;
  }

  .ezhiki__image {
    display: none;
  }

  .first {
    padding: 0 20px;
  }

  .first-block {
    background-color: transparent;
  }

  .first-block__wrapper {
    width: 100%;
    border-radius: 4px;
    padding: 20px;
    min-height: 330px;
    background-image: url(../images/header-photo-1-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
  }

  .first-block__title_wrapper {
    width: 50%;
    background-color: transparent;
  }

  .first-block__image {
    display: none;
  }
}
