.main-title__container {
  width: 100%;
  position: relative;
  display:flex;
  padding: 20px 0 0;
  }

.second-title__container {
  width: 100%;
  position: relative;
  display:flex;
  padding: 20px 0 0;
}

.main-title {
  margin: 0 auto;
}

.second-title {
  margin: 0 auto;
  text-transform: uppercase;
  padding: 0 0 20px;
}