/* Основные стили для разрешения до 1280px и выше*/
.photo {
  max-width: 80%;
  min-width: 500px;
  margin: 40px auto;
  display: flex;
}

.photo-grid {
  padding: 0;
  display: grid;
  margin: 0 auto;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/* Portrait tablets and small desktops */
@media (max-width: 900px) {
  .photo {
    max-width: 100%;
    margin: 40px auto;
    padding: 0 40px;
  }

  .photo-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 780px) {

}